.invalid-appointment {
    text-align: center;
    margin: $separacion / 2 0;
    text-transform: uppercase;
}

.summary-content {
    margin-bottom: $separacion / 2 0;
    p {
        margin-bottom: .5rem;

        span {
            font-weight: $bold;
            color: $blue;
            font-size: 2.4rem;
        }
    }

    .summmary-services {

        h3 {
            margin: $separacion / 2 0;
        }

        .container-service {
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid #43454C;

            .price {
                font-size: 2.4rem;
                font-weight: bold;
                color: $blue;
            }
        }
    }
}

.total {
    text-align: right;
}